@model VacationFormViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
@{
    ViewData["Title"] = "الاجازات";
}


<div class="alert bg-light-primary border border-primary border-3 border-dashed d-flex justify-content-between w-100 p-5 mb-10">
    <form method="post" asp-controller="Vacation" asp-action="@(Model?.Id > 0 ? "Edit" : "Create")" enctype="multipart/form-data">
        @if (Model?.Id > 0)
        {
            <input type="hidden" asp-for="Id" />
        }
        <div class="d-flex align-items-center">
            <div class="row col-12">
                <div class="row col-4">
                    <!--begin::Label-->
                    <label class="mb-5 col-lg-4 col-form-label required fw-semibold fs-5">الموظف</label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-8">
                        <!--begin::Row-->
                        <div class="row">
                            <!--begin::Col-->
                            <div class="fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-invalid">
                                <select id="EmployeeDropdown" aria-label="Select a Country" data-control="select2" data-placeholder="اختار الموظف..." class="form-select form-select-solid form-select-lg fw-semibold"
                                        asp-for="EmployeeId" data-selected-id="@Model.EmployeeId" asp-items="@Model.Employees">
                                    <option value="">اختار الموظف...</option>
                                </select>
                                <span asp-validation-for="EmployeeId" class="text-danger d-block"></span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Col-->
                </div>
                <div class="row col-4">
                    <!--begin::Label-->
                    <label class="mb-5 col-lg-4 col-form-label required fw-semibold fs-5">نوع الاجازه</label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-8">
                        <!--begin::Row-->
                        <div class="row">
                            <!--begin::Col-->
                            <div class="fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-invalid">
                                <select aria-label="Select a Country" data-control="select2" data-placeholder="اختار نوع الاجازه..." class="form-select form-select-solid form-select-lg fw-semibold"
                                        asp-for="VacationTypeId" asp-items="@Model.VacationTypes">
                                    <option value="">اختار نوع الاجازه...</option>
                                </select>
                                <span asp-validation-for="VacationTypeId" class="text-danger d-block"></span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Col-->
                </div>
                <div class="row col-4">
                    <!--begin::Label-->
                    <label class="mb-5 col-lg-4 col-form-label required fw-semibold fs-5" asp-for="Description">سبب الاجازه</label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-8">
                        <!--begin::Row-->
                        <div class="row">
                            <!--begin::Col-->
                            <div class="col-lg-12 fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-invalid">
                                <input class="form-control form-control-solid fs-5" type="text" placeholder="ادحل سبب الاجازه" asp-for="Description" />
                                <span asp-validation-for="Description" class="fv-plugins-message-container invalid-feedback"></span>
                                <!--end::Col-->
                            </div>
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Col-->
                </div>
                <div class="row col-4">
                    <!--begin::Label-->
                    <label class="mb-5 col-lg-4 col-form-label required fw-semibold fs-5" asp-for="StartDate">تاريخ الانفكاك</label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-8">
                        <!--begin::Row-->
                        <div class="row">
                            <!--begin::Col-->
                            <div class="col-lg-12 fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-invalid">
                                <input class="form-control form-control-solid fs-5" type="date" placeholder="ادحل تاريخ الانفكاك" asp-for="StartDate" />
                                <span asp-validation-for="StartDate" class="fv-plugins-message-container invalid-feedback"></span>
                                <!--end::Col-->
                            </div>
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Col-->
                </div>
                <div class="row col-4">
                    <!--begin::Label-->
                    <label class="col-lg-4 col-form-label fs-5 required" asp-for="VacationDays">مده الاجازه</label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-8">
                        <!--begin::Row-->
                        <div class="row">
                            <!--begin::Col-->
                            <div class="col-lg-12 fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-invalid">
                                <input class="form-control form-control-solid fs-5" type="number" placeholder="ادحل مده الاجازه" asp-for="VacationDays" />
                                <span asp-validation-for="VacationDays" class="fv-plugins-message-container invalid-feedback"></span>
                                <!--end::Col-->
                            </div>
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Col-->
                </div>
                <div class="row col-4">
                    <!--begin::Label-->
                    <label class="col-lg-4 col-form-label fs-5 required" asp-for="VacationDuration">فتره الاجازه</label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-8">
                        <!--begin::Row-->
                        <div class="row">
                            <!--begin::Col-->
                            <div class="fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-invalid">
                                <select aria-label="Select a Country" data-control="select2" data-placeholder="اختار فتره الاجازه..." class="form-select form-select-solid form-select-lg fw-semibold"
                                        asp-for="VacationDuration">
                                    <option value="">اختار فتره</option>
                                    <option value="0">يوم</option>
                                    <option value="1">شهر</option>
                                    <option value="2">سنه</option>
                                </select>
                                <span asp-validation-for="VacationDuration" class="text-danger d-block"></span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Col-->
                </div>
                <div class="row col-4">
                    <!--begin::Label-->
                    <label class="col-lg-4 col-form-label fs-5" asp-for="ReturnedDate">تاريخ المباشرة</label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-8">
                        <!--begin::Row-->
                        <div class="row">
                            <!--begin::Col-->
                            <div class="col-lg-12 fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-invalid">
                                <input class="form-control form-control-solid fs-5" type="date" placeholder="ادحل تاريخ المباشرة" asp-for="ReturnedDate" />
                                <span asp-validation-for="ReturnedDate" class="fv-plugins-message-container invalid-feedback"></span>
                                <!--end::Col-->
                            </div>
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Col-->
                </div>
                <div class="row col-4">
                    <!--begin::Label-->
                    <label class="col-lg-4 col-form-label fw-semibold fs-6">هل تمت المباشرة؟</label>
                    <!--begin::Label-->
                    <!--begin::Label-->
                    <div class="col-lg-8 d-flex align-items-center">
                        <div class="form-check form-check-solid form-switch form-check-custom fv-row">
                            <input class="form-check-input w-45px h-30px" type="checkbox" asp-for="IsReturned">
                        </div>
                    </div>
                    <!--begin::Label-->
                </div>
            </div>
        </div>
        <div class=" align-content-center d-flex justify-content-end">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="bi bi-plus-square-dotted"></i>
                @(Model?.Id > 0 ? "تعديل" : "اضافه")
            </button>
        </div>
    </form>
   
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/employeedropdown.js"></script>
}